#--------------------------------------
# configuration
#--------------------------------------

notes/
#--------------------------------------
# Directories
#--------------------------------------
build/
#dist/
coverage/
node_modules/
tmp/
bower_components/


#======================================
# Extensions
#--------------------------------------
*.gz
*.local
*.log
*.rar
*.tar
*.zip

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db


#======================================
# Code
#--------------------------------------
.settings/
.vscode/
tsconfig.json
jsconfig.json
